* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
   
  }
  
  /* Navigation */
  
  .nav-container {
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 10vh;
    
    z-index: 500;
    position: relative;
  }
  
  .wrapper {
    width: 85vw;
    height: 100vh;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
  }
  
  nav ul {
    display: flex;
  }
  
  nav .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 4vw;
    color: #021718;
  }
  
  .nav-items li {
    list-style: none;
    margin-right: 5vw;
  }
  
  .nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items li a {
    color: #021718;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

/* Main Page */

  .main-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

  }

  .title-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;

  }

  .bg-items {
    height: 80vh;
    width: 50vw;
    background: url("../images/double-bubble-dark.png");
    flex: 1;
    
    
  }

  /* Main Image */

  
  
  header .main-bg-anchor:hover {
    transform: rotate(-12deg);
  }
  header .main-bg-top:hover {
    transform: rotate(-24deg);
  }
  header .main-bg-bottom:hover {
    transform: rotate(-36deg);
  }
  header .main-bg:hover {
    transform: rotate(-48deg);
  }

  header .main-bg-anchor {
    
    transition: 1000ms;
    z-index: 100;
    width: 10vw;
    height: 10vw;
    background: #270000;
    transform: rotate(24deg);
  }
  
  header .main-bg-top {
    transition: 1100ms;
    
    width: 10vw;
    height: 10vw;
    
    top: 0vh;
    z-index: 50;
  
    background: #a8a8a8;
    transform: rotate(12deg);
  }
  
  header .main-bg {
    transition: 1200ms;
    
    width: 10vw;
    height: 10vw;
    background: #44a1a0;
    transform: rotate(-6deg);
  }
  header .main-bg-bottom {
    transition: 1300ms;
    
    width: 10vw;
    height: 10vw;
    
    top: 0vh;
  
    background: #002928;
    transform: rotate(-24deg);
  }
  



  header h1 {

    font-weight: 900;
    font-size: 5vw;
    line-height: 1em;
    color: #021718;
    margin-bottom: 5vh;
  }
  
  header p {
    font-size: 2em;
    line-height: 1em;
    color: #021718;
    width: 50vw;
  
    margin-bottom: 5vh;
  }
  
  header a {
    color: #fffffa;
    font-size: 1.5em;
    text-decoration: none;
  
    background: #01847f;
    border-radius: 8px;
    padding: 1.5vh 3vw;
    
    transition: 300ms;
  }
  
  header a:hover {
    transform: translateY(-8px);
  }