.title {
font-size: 40pt;
font-family: Comfortaa;


}

h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  h1:hover {
    transition: transform 1s ease;
    color: white;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 200% 5%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h1 {
    position: relative;
    font-size: 5rem;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }
  
  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    
    font-family: "Nunito";
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .nav-bar {
    background-color: rgba(0,0,0,0.4);
    width: 600px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 black;
    border-radius: 25px;
    opacity: 0.6;
  }
  
  .nav-bar div {
    display: flex;
    padding: 20px;
    display: inline-block;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: white;
    font-family: Amatic SC, sans-serif;
    font-size: 20px; 
    transition: all 0.5s;
  }
  
  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
  